html, body {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Open+Sans:ital,wght@0,400;0,500;1,500;1,600&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

#header{
  font-family: 'Merriweather', serif;
  font-size: 20pt;
  text-align: center;
  vertical-align: top;
 
}

.headerdiv{
display: flex;
  align-items: center;
  justify-content: center
}

#btnload{
  background: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}


.navlogo{
 max-width: 100%;
  max-height:100%;
  position: relative;
 
}

.navbarr:hover {
  border: 2px solid burlywood;
  border-radius: 30pt;
  transform: 10s;
  
}

#droplist{
  color: #CE932C;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  align-items: center;
}

#droplist2{
  color: #CE932C;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
}

#chart{
  height: 300px;
}

input{
  margin-left: 10px;
}

.btn{
  margin-bottom: 10px;
  
}


#highestpricechart{
  align-self: center;
}

.sidecss{
  width: 400px;
  height: 700px;
  background-color: skyblue;
  display: inline-block;
}

.sidedata{
  border-style: solid;
  border-radius: 10px;
  border-color: #6b77d1;
  display: flexbox;  
  align-content: space-between;
  justify-content: center;
  margin: 5px 5px 5px 5px ;
  padding: 5px 0px 0px 0px;
/*   margin: 0px 10px 0px 10px ; */
 
/*   align-content: center;
  justify-content: center; */
/*   padding: 5px 5px 5px 5px; */
/*   margin: 0px 3px 0px 3px; */
  
 
}
.mainchart{
  border-style: solid;  
  border-radius: 10px;
  border-color: #6b77d1;
  margin: 5px 5px 5px 5px ;
  padding: 5px 0px 0px 0px;
 
}

.maindiv{
  margin: 0px 40px 0px 40px;  
     
  
}
