html, body {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Open+Sans:ital,wght@0,400;0,500;1,500;1,600&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

#header{
  font-family: 'Merriweather', serif;
  font-size: 20pt;
  text-align: center;
  vertical-align: top;
 
}

.headerdiv{
display: flex;
  align-items: center;
  justify-content: center
}

#btnload{
  background: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}


.navlogo{
 max-width: 100%;
  max-height:100%;
  position: relative;
 
}

/* .navbarmaindiv{
 border-color: #d16b97;
  border-style: solid;
  border-radius: 15px;
} */

.navbardiv{
  background-color: #ec8ea5;
  border-style: solid;
  border-radius: 15px;
  border-color: #ec8ea5;
  margin: 0px 30px 0px 30px;
}

.navbarr:hover {
  border: 2px solid burlywood;
  border-radius: 30pt;
  transform: 10s;
  
}

.townselector{
  display: inline-block;
  margin: 0;
  padding-left: 5px;
  color: #FF7700;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 20px;
}

.maincharttxt{
  color: #07393C;
  font-family: 'PT Serif', serif;
  font-style: bold;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  margin-left: 10px;
  align-items: center;
}

.maincharttxt2{
  color: #07393C;
  font-family: 'PT Serif', serif;
  font-style: bold;
  font-size: 20px;
  
  text-align: center;
  margin-left: 10px;
  align-items: center;
}

.indivchartstyle{
  color: #6b77d1;
  font-family: 'PT Serif', serif;
  font-style: bold;
  font-size: 20px;
  border: solid;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.detailsty{
  text-align: center;
  color: #CE932C ;
}

#droplist{
  color: #CE932C;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  align-items: center;
}

#droplist2{
  color: #CE932C;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
}

#chart{
  height: 300px;
}

input{
  margin-left: 10px;
}

.btn{
  margin-bottom: 10px;
  
}

.comchart{
/*   margin: 0px 20px 0px 20px; */
  display: flexbox;
 align-items: center;
/*   margin: 5px 40px 5px 40px ;
  padding: 0px 40px 0px 40px; */
}

.comchartidv{
  border-style: solid;
  border-radius: 10px;
  border-color: #6b77d1;
     
}

.buttons{
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
}

.buttonsind:hover{
  border: 2px solid burlywood;
  border-radius: 30pt;
  transform: 10s;
}


/* #highestpricechart{
  align-self: center;
} */

.sidecss{
  width: 400px;
  height: 700px;
  background-color: skyblue;
  display: inline-block;
}

.sidedata{
  border-style: solid;
  border-radius: 10px;
  border-color: #6b77d1;
  display: flexbox;  
  align-content: space-between;
  justify-content: center;
  margin: 5px 5px 5px 5px ;
  padding: 5px 0px 0px 0px;
/*   margin: 0px 10px 0px 10px ; */
 
/*   align-content: center;
  justify-content: center; */
/*   padding: 5px 5px 5px 5px; */
/*   margin: 0px 3px 0px 3px; */
  
 
}
.mainchart{
  border-style: solid;  
  border-radius: 10px;
  border-color: #6b77d1;
  margin: 5px 5px 5px 5px ;
  padding: 5px 0px 0px 0px;
 
}

.maindiv{
  margin: 0px 40px 0px 40px;  
 
}

.para{
  margin: 0;
  padding-left: 5px;
  color: #FF7700;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 20px;
  
}

.title{
  color: #FF7700;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 30px;
  border: solid;
  border-color:  #FF7700;
  border-radius: 15px;
 
}


.syncchart{
  
  margin: 5px 10px 5px 10px;
  display: flex;
   align-items: center;
  flex-wrap: wrap;
/*   flex-direction: row;
      */
}

.roomsdiv{
  border-style: solid;
  border-radius: 10px;
  border-color: #6b77d1;
   margin: 5px 10px 5px 10px;
/*   flex-wrap: wrap;
  flex-direction: row; */
}

.footer{
  padding: 10px 0;
  background-color: #ec8ea5;
  border-radius: 30px;
  
}

.footer .social{
  text-align: center;
  padding-bottom: 10px;
  color: #0936ec;
}

.footer .social a{
font-size: 20px;
  color: inherit;
  border: 2px solid #f2cd18;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 40%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {

  opacity: 0.9;
}

.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
  
}
.footer ul li a:hover{
  opacity: 1;
}

.mainheaderstyle{
  text-align: center;
  color: #f19009;
  font-family:'Philosopher', sans-serif;
  font-style: bold;
  font-size: 55px;   
  margin-left: 10px;
  align-items: center;
}

.p2{
  text-align: center; 
  justify-content: center;
  padding: 30px 300px 30px 300px;
  font-family:'Philosopher', sans-serif;
  font-size: 20px;
}

.h1style{
  text-align: center;
  color: #f19009;
  font-family:'Philosopher', sans-serif;;
  font-style: italic;
  font-size: 30px;   
  margin-left: 10px;
  align-items: center;
  text-justify: auto;
}


.h1bodystyle{
  text-align: center;
  color: #f19009;
  font-family:'Philosopher', sans-serif;
    font-size: 25px;   
  margin-left: 10px;
  align-items: center;
  text-justify: auto;
}

